<app-loading *ngIf="loading"></app-loading>

<app-card [artists]="newRelease" [currentUrl]="'home'"></app-card>

<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url('assets/img/ed-sheeran.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('assets/img/metallica.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('assets/img/heroes.jpg')">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container top-30">
  <div class="row">
      
      <div class="col-md-4 text-center"><img src="assets/img/artist.png" alt="">
        <hr>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quidem, id. Rerum voluptas delectus harum quidem, molestias ullam facilis, excepturi quaerat iure est accusamus iste labore dignissimos incidunt voluptatibus doloribus.
      </div>
      <div class="col-md-4 text-center"><img src="assets/img/music.png" alt="">
        <hr>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempore asperiores sit, tempora perspiciatis ullam accusantium repellat quam et laboriosam nesciunt, optio, dolorem aut, dicta quos nostrum eveniet sapiente maiores!
      </div>
      <div class="col-md-4 text-center"><img src="assets/img/album.png" alt="">
        <hr>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur soluta maiores expedita neque itaque quidem tempore aspernatur fugit quos, aliquam doloribus distinctio sed, autem voluptate repudiandae voluptatem et, corporis labore.
      </div>

  </div>
</div> -->